[Unit]
Description=Auto-update camk_nats_config streams

[Service]
Type=oneshot
User=poweruser
ExecStart=/opt/poweruser/src/camk_nats_config/scripts/auto_update.sh
